
.app-controls {
    width: 100%;
    height: calc(15% - var(--height-appbar));
    min-height: 2rem;
    background-color: var(--color-primary);
    bottom: 0;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

