.time-table{
    position: relative;
    height: 60%;
    width: 100%;
    min-height: 50px;
    background-color: #ffffff;
}

.time-table-row{
    max-height: 1.5rem;
    justify-content: space-evenly;
    gap:20%;
}

.headline{
    font-weight: bold;
}

.time-table-data{
    overflow:scroll;
    height: 100%;
}
